# Package Files #
*.jar
*.war
*.ear
*.nja
*.ipynb
py-env
venv
.idea
.ropeproject
.pida-metadata
.pydevproject
.classpath
.project
.settings/
.coverage
target/
*.class
*.pyc
nb-configuration.xml
nbactions.xml
rebel.xml
.settings.cfg
.alembic.ini
node_modules
deploy
_build
fw.log
local.alembic.ini
.kdev4
*.kdev4
__pycache__

node_modules/
.DS_STORE
.sass-cache
*.sublime-project
*.sublime-workspace

server/logs/*
logs/*
!server/logs/README.md

admin/client/source/vendor/bower/*
admin/client/source/grunt_assets/*.temp/*
admin/client/dist/develop/*

.codeintel/*
.uwsgi.ini
.api-uwsgi.ini
.portal-uwsgi.ini
.admin-uwsgi.ini
test.db
version.py
/admin/client/source/*.iml
