<!DOCTYPE html>
<html>
<head>
    <title>M&aring;linger</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css"
          rel="stylesheet">
    <script type="text/javascript"
            src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h3>{{ river.name }}</h3>
    <a href="/">
        Tilbake
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% if int(start) >= 99 %}
    <a
            href="/measures?river_id={{ river.id }}&start={{ int(start) - 100 }}&rows={{ rows }}">
       <<
    </a>
    {% end %}
    <a
            href="/measures?river_id={{ river.id }}&start={{ int(start) + 100 }}&rows={{ rows }}">
        >>
    </a>
    <div class="row">
        <div>
            <table class="table table-striped table-bordered table-condensed">
            <tr>
               <th>Dato</th>
               <th>Niv&aring;</th>
               <th>M3</th>
            </tr>
            {% for ms in measures %}
               <tr>
                   <td>{{ ms.measured_at or '-' }}</td>
                   <td>{{ ms.level }}</td>
                   <td>{{ ms.cumecs or '-' }}</td>
                </tr>
            {% end %}
            </table>
        </div>
    </div>
    <script>

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    </script>
</body>
</html>
